/target
Cargo.lock
/.vscode
Emanuel A. Schegloff - Sequence Organization in Interaction_ Volume 1_ A Primer in Conversation Analysis (2007).pdf
Interactive functions and limitations of verbal and nonverbal behaviors in natural conversation.pdf
Robert N. St. Clair, Howard Giles (eds.) - The Social and Psychological Contexts of Language-Lawrence Erlbaum Associates (1980).pdf
The Listener as Addressee in Face-to-Face Dialogue.pdf
Verbal and nonverbal communication cues in daily conversations and dating.pdf
Visible Acts of Meaning_-_An Integrated Message Model of Language in Face-to-Face Dialogue.pdf
The role of nonverbal communication in service encounters.pdf
Threaded_interpretive_languages.pdf